<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> シフトをGoogleカレンダーに追加 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>シフトをGoogleカレンダーに追加</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
    <ion-text>
      <h2 id="label-for-date">日付を選んでね</h2>
    </ion-text>
    <ion-list>
      <ng-container
        *ngFor="let shift of [earlyShiftDays,dayShiftDays,lateShiftDays,nightShiftDays]"
      >
        <ion-item>
          <app-date-picker-panel
            [(dates)]="shift.dates"
            [label]="shift.label"
            aria-labelledby="label-for-date"
          ></app-date-picker-panel>
        </ion-item>
      </ng-container>
    </ion-list>
  </section>
  <section>
    <ion-text>
      <h2 id="label-for-password">パスワードを入力してね</h2>
    </ion-text>
    <form>
      <ion-item>
        <ion-input
          aria-labelledby="label-for-password"
          type="password"
          name="password"
          [formControl]="password"
        ></ion-input>
      </ion-item>
      <ion-text *ngIf="password.invalid && password.dirty">
        <span class="ion-invalid"
          >{{password.getError('incorrectPassword')}}</span
        >
      </ion-text>
    </form>
  </section>
  <section>
    <ion-button [disabled]="password.invalid" (click)="add()"
      >Googleカレンダーに追加</ion-button
    >
  </section>
</ion-content>
